.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 10rem;
    position: relative;

    //Change for the <button> tag
    border: none;
    cursor: pointer;

    @include respond(small) {
      font-size: 2.2rem;
      color: #000;
      letter-spacing: 2px;
      font-weight: bold;
    }
    @include respond(smallest) {
      font-size: 2rem;
    }
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &--white {
    color: #333;
    background-color: #fff;

    &::after {
      background-color: #fff;
    }
  }
  &--gold {
    color: #fff;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
}
