.slick-prev:before,
.slick-next:before {
  font-size: 2.4rem !important;
  color: $color-secondary !important;

  @include respond(largest) {
    //width < 1920px
    font-size: 2.8rem !important;
  }
}

.slick-next {
  right: -35px !important;
  @include respond(small) {
    display: none !important;
  }
}
.slick-prev {
  left: -40px !important;
  @include respond(small) {
    display: none !important;
  }
}

@include respond(small) {
  .fp-controlArrow.fp-prev {
    left: 1.6rem;

    border-width: 28.5px 24px 28.5px 0;
  }
  .fp-controlArrow.fp-next {
    right: 1.6rem;
    border-width: 28.5px 0 28.5px 24px;
  }
}
