/******* SECTION 2 ********/
/* Sectionwrapper, container imported from layout.scss*/
.s2 {
  background-color: $color-text-dark;
  height: 100vh !important;

  .cardWrapper {
    margin-top: 1rem;

    @include respond(small) {
      display: none;
    }

    .services-card {
      perspective: 60rem;
      -moz-perspective: 60rem;
      position: relative;
      width: 30rem;
      height: 44rem;
      .side {
        width: 30rem;
        height: 35rem;
        border-radius: 7px;
        margin: 5rem 2.5rem;
        box-shadow: 0 0.5rem 1.5rem rgba($color: #000, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        img {
          margin-bottom: 1rem;
          width: 10rem;
          height: 10rem;
        }
        h3 {
          color: $color-primary;
          font-size: 2rem;
          text-align: center;
        }

        &--front {
          background-color: $color-secondary;
        }
        &--back {
          background-color: #eaeaea;
          transform: rotateY(180deg);

          hr {
            width: 14rem;
            height: 1px;
            border: none;
            color: $color-secondary;
            background-color: #333;
          }
          h3 {
            color: $color-secondary;
          }
          p {
            text-align: center;
            padding: 1rem;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
      }

      &:hover .side--front {
        transform: rotateY(-180deg);
      }

      &:hover .side--back {
        transform: rotateY(0deg);
      }
    }
  }
  .mobile-cont {
    @include respond(medium) {
      display: none;
    }
    margin-top: 2rem;

    .accordion-item {
      margin-bottom: 2rem;
      border: none;
      border-radius: 7px;
      background-color: $color-secondary;
      color: $color-primary;

      button {
        font-size: 3.4rem;
        font-family: Manrope;
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 10px;
        padding: 2rem;

        img {
          height: 5rem;
          margin-right: 1rem;
        }
      }

      .accordion-body {
        font-size: 2.4rem;
        color: $color-secondary;
        background-color: $color-text-light;
        border: none;
      }
    }
  }
}

// Backup old css
// .s2 {
//   background-color: $color-text-dark;

//   .cardWrapper {
//     margin-top: 4rem;

//     .services-card {
//       width: 25rem;
//       height: 35rem;
//       background-color: $color-secondary;
//       border-radius: 7px;
//       margin: 0 2.5rem;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       transition: all 0.8s;

//       img {
//         margin-bottom: 1rem;
//         width: 10rem;
//         height: 10rem;
//       }
//       h3 {
//         color: $color-primary;
//         font-size: 2rem;
//       }

//       &:hover {
//         transform: rotateY(180deg);
//       }
//     }
//   }
// }
