.s4 {
  .slide {
    .section4wrapper {
      width: 100%;
      min-height: 100vh;
      display: flex;
      position: relative;

      .goldBG {
        height: 59rem;
        width: 12rem;
        background-color: #ad974f;
        position: absolute;
        left: 61.5rem;
        top: 2rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .photo {
        background-color: $color-secondary;
        display: flex;
        flex: 0 0 45%;

        img {
          height: 55rem;
          position: absolute;
          top: 4rem;
          left: 18rem;
        }
      }

      .heading {
        background-color: $color-text-dark;
        font-size: 8rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        h2 {
          line-height: 11rem;
        }
      }
    }
  }
}
