/******* SECTION 1 ********/
/* Nav css imported from - layout/nav.scss*/
/* Hero section*/
.s1 {
  z-index: 10;
}
.slider_bg {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, $color-secondary, $color-primary);
  background-image: url(../img/homebg.png);
  height: 100%;
  width: 100%;
  z-index: -4;
}
.hero-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 60%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.7rem;
      object-fit: cover;
    }

    &__text {
      position: absolute;
      top: 31%;
      left: 24%;
      text-align: center;

      @include respond(small) {
        //width < 425px - phone large
        left: 0;
        padding: 0 8rem;
      }
      @include respond(smaller) {
        padding: 0 12rem;
      }

      h2 {
        color: $color-text-light;
        font-size: 5rem;
        font-weight: 400;
        @include respond(small) {
          font-size: 6rem;
          margin-bottom: 3rem;
        }
      }
      h2.headline {
        font-size: 8rem;
        font-weight: 700;
        color: $color-primary;
        z-index: 2;
        line-height: 8rem;
        margin-bottom: 5rem;
      }
    }
  }
}
