.s4 {
  .slide {
    .section4wrapper {
      width: 100%;
      min-height: 100vh;
      display: flex;
      position: relative;

      .photo {
        background-color: $color-secondary;
        display: flex;
        flex: 0 0 45%;

        img {
          height: 55rem;
          position: absolute;
          top: 3rem;
          left: 22rem;
          border: 2rem #ad974f solid;
        }
      }

      .heading {
        background-color: $color-text-dark;
        font-size: 8rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        h2 {
          line-height: 11rem;
        }
      }
    }
  }
}
