.s6 {
  height: 100vh !important;
  border-top: 5px $color-primary solid;
  @include respond(medium) {
    height: 125vh !important;
  }
  .footer-wrapper {
    display: flex;
    height: 100vh;
    @include respond(medium) {
      flex-direction: column;
      height: 100%;
    }
    &__maps {
      background-color: $color-secondary;
      color: $color-text-light;
      display: flex;
      flex: 0 0 40%;
      flex-direction: column;
      justify-content: center;
      padding: 0px 4rem;
      @include respond(medium) {
        flex: 0 0 50%;
      }

      .info {
        width: 100%;
        &_line {
          margin-bottom: 2rem;
          img {
            width: 2rem;
            margin-top: 3px;
            margin-right: 2rem;
            float: left;
          }
          p {
            font-size: 1.4rem;
          }
          @include respond(medium) {
            p {
              font-size: 2rem;
            }
            img {
              width: 2.8rem;
            }
          }
        }
      }

      .map {
        &__desktop {
          @include respond(medium) {
            display: none;
          }
        }
        &__mobile {
          display: none;
          @include respond(medium) {
            display: block;
          }
        }
      }
    }

    &__form {
      background-color: $color-text-light;
      width: 100%;
      flex-grow: 1;
      @include respond(medium) {
        padding-top: 5rem;
      }

      h1 {
        line-height: 3.5rem;
        @include respond(small) {
          font-size: 3.4rem;
        }
        @include respond(smallest) {
          margin-top: 1rem;
        }
      }
      h3 {
        font-size: 3.5rem;
        margin-bottom: 2rem;

        @include respond(small) {
          font-size: 2.6rem;
        }
      }

      label {
        font-size: 1.6rem;
        font-weight: 400;
        display: block;
        margin: 0px;
        @include respond(small) {
          font-size: 2rem;
        }
      }
      input,
      textarea {
        height: 3rem;
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;
        border-bottom: 1px solid grey;
        font-family: inherit;
        font-size: 1.4rem;
        width: 100%;
        background-color: transparent;
        margin-bottom: 4rem;

        &:focus {
          outline: none;
        }
      }
      textarea {
        height: 5rem;
      }
    }
  }
}
