/******* SECTION 2 ********/
/* Sectionwrapper, container imported from layout.scss*/
.s3 {
  .about-wrapper {
    display: flex;
    height: 100vh;
    background-color: $color-text-light;

    &__content {
      flex: 0 0 60%;

      .aboutcontainer {
        padding: 0 7rem;
      }
      &__para {
        width: 70%;
        line-height: 2.8rem;
      }
    }

    &__img {
      background-color: $color-secondary;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        height: 55rem;
        position: absolute;
        right: 20rem;
      }
    }

    &__goldBG {
      height: 59rem;
      width: 21rem;
      background-color: #ad974f;
      position: absolute;
      right: 54.5rem;
    }
  }
}
