/******* SECTION 5 ********/
.s5 {
  background-color: $color-text-light;

  .project-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // text
    &__text {
      text-align: center;
      display: flex;
      align-items: center;
      height: 50%;
      p {
        margin-bottom: 1rem;
        line-height: 2.8rem;
      }
    }
    // slider
    &__slider {
      background-color: $color-secondary;
      height: 35rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      .project-slider {
        &__img {
          img {
            width: 40rem;
          }
        }
      }
    }
  }
}
