.s4 {
  height: 100vh !important;
  border-top: 1px $color-primary solid;
  .slide {
    .section4wrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      position: relative;

      @include respond(small) {
        flex-direction: column;
      }

      .goldBG {
        height: 59rem;
        width: 12rem;
        background-color: #ad974f;
        position: absolute;
        left: 61.5rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        @include respond(small) {
          left: 9rem;
          height: 8rem;
          width: 47rem;
          top: 50rem;
          border-bottom-left-radius: 10px;
          border-top-right-radius: 0;
          display: none;
        }
        @include respond(smaller) {
          height: 8rem;
          width: 54rem;
          top: 50rem;
          left: 3rem;
        }

        @include respond(smallest) {
          left: 2rem;
        }

        @include respond(ultra) {
          width: 12.8rem;
          left: 60.6rem;
        }
      }

      .photo {
        background-color: $color-secondary;
        display: flex;
        flex: 0 0 45%;
        flex-direction: column;
        justify-content: center;

        @include respond(small) {
          flex: 0 1 45rem;
        }

        img {
          height: 55rem;
          position: absolute;
          left: 18rem;

          @include respond(small) {
            // left: 8rem;
            // top: 5rem;

            position: initial;
            width: 35rem;
            height: 35rem;
            margin: 0 auto;
            margin-bottom: -25rem;
            z-index: 0;
            border: 12px solid #ad974f;
            border-radius: 14px;
          }
          @include respond(smaller) {
            height: 42rem;
            width: 41rem;
            left: 8rem;
            top: 10rem;
          }
        }
      }

      .heading {
        background-color: $color-text-dark;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include respond(small) {
          flex-grow: 1;
        }
        @include respond(smaller) {
          font-size: 7rem;
        }

        h2 {
          line-height: 11rem;
          font-size: 11rem;
          font-weight: 600;
          @include respond(small) {
            text-align: center;
            font-size: 10rem;
          }
        }
      }
    }
  }
}
