/******* SECTION 3 ********/
/* Sectionwrapper, container imported from layout.scss*/
.s3 {
  height: 100vh;
  .about-wrapper {
    display: flex;
    height: 100%;
    background-color: $color-text-light;

    @include respond(small) {
      flex-direction: column;
    }

    &__content {
      flex: 0 0 60%;

      @include respond(small) {
        flex: 0 0 60%;
      }
      @include respond(smaller) {
        flex: 0 0 65%;
      }

      .aboutcontainer {
        padding: 0 7rem;
        @include respond(small) {
          padding: 7rem;

          h1 {
            text-align: center;
          }
        }
        @include respond(smallest) {
          padding: 3rem 5rem;
        }
      }
      &__para {
        width: 70%;
        line-height: 2.8rem;
        @include respond(small) {
          width: 100%;
          font-size: 2.4em;
          text-align: center;
          margin-top: 1rem;
        }
        @include respond(smaller) {
          font-size: 2.2rem;
        }
      }
    }

    &__img {
      background-color: $color-secondary;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond(small) {
        height: 100%;
      }

      img {
        height: 55rem;
        position: absolute;
        right: 20rem;

        @include respond(tab-port) {
          right: 10rem;
        }
        @include respond(small) {
          // right: 6rem;
          // bottom: 3rem;
          position: initial;
          width: 35rem;
          height: 35rem;
          margin: 0 auto;
          margin-top: -15rem;
          position: initial;
          width: 35rem;
          height: 35rem;
          margin: 0 auto;
          margin-top: -15rem;
          border: 12px solid #ad974f;
          border-radius: 14px;
        }
        @include respond(smaller) {
          height: 42rem;
          width: 41rem;
          margin-top: -17rem;
        }
        // @include respond(smallest) {
        //   height: 40rem;
        //   right: 10rem;
        //   bottom: 1rem;

        //   // position: initial;
        //   // width: 50rem;
        //   // height: 50rem;
        //   // margin: 0 auto;
        //   // margin-top: -15rem;
        // }
      }
    }

    &__goldBG {
      height: 59rem;
      width: 21rem;
      background-color: #ad974f;
      position: absolute;
      right: 40%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      @include respond(small) {
        height: 14rem;
        width: 58rem;
        top: 55rem;
        right: 4rem;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        display: none;
      }

      @include respond(ultra) {
        width: 21.5rem;
      }
    }
  }
}
