/******* SECTION 5 ********/
.s5 {
  background-color: $color-text-light;
  height: 100vh !important;
  .project-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // text
    &__text {
      text-align: center;
      display: flex;
      align-items: center;
      height: 50%;
      @include respond(small) {
        height: 70%;
      }

      p {
        margin-bottom: 1rem;
        line-height: 2.8rem;
        @include respond(small) {
          font-size: 2.4rem;
          margin-bottom: 3rem;
          line-height: 3.2rem;
        }
      }
    }
    // slider
    &__slider {
      background-color: $color-secondary;
      height: 35rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      @include respond(small) {
        height: 45rem;
      }

      .project-slider {
        &__img {
          img {
            width: 40rem;
            @include respond(small) {
              width: 38rem;
            }
            @include respond(smaller) {
              width: 37rem;
            }
            @include respond(smallest) {
              width: 34rem;
            }
          }
        }
      }
    }
  }
}
